.meeting-title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 60px;
}

form {
  max-width: 450px;
  margin: 15rem auto;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  padding: 20px;
}

input {
  width: 100%;
  border: 1px thin rgb(105, 105, 105) transparent;
  border-radius: 8px;
  height: 34px;
  padding: 5px;
  color: inherit;
  font-family: inherit;
}

input::placeholder {
  color: #aaa;
}

.input-container {
  margin-bottom: 20px;
}

.btn-signin {
  width: 100%;
  height: 34px;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 6px 14px;
  background-color: #0d72ed;
  color: white;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
}